<section class="phx-hero">
  <form class="column">
  <label for="url">URL to shorten:</label><br>
  <input type="text" name="url" />
  <button type="submit">Shorten!</button>
  </form>
</section>

<%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
  <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
<% end %>
<section class="row">
<p>Your shortened url is: </p>
</section>

